### Kotlin / Java (Gradle) ###
.gradle
.idea
build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.iws
*.iml
*.ipr
out/
.kotlin

### TypeScript / Node ###
node_modules/
dist/

### Mac OS ###
.DS_Store
